:80

@images {
    path *.jpg
    path *.jpeg
    path *.png
    path /profile_pics
    path /product_pics
}

@code {
    path *.html
    path *.js
}

handle_path /postgrest/* {
    rewrite * {path}
    reverse_proxy postgrest:3000
}
handle_path /auth/* {
    rewrite * {path}
    reverse_proxy auth:8080
}

handle_path /api/* {
    rewrite * {path}
    reverse_proxy api:8087
}


header @images {
    "Cache-Control" "max-age=31536000, immutable"
}

header @code {
    "Cache-Control" "no-store"
}



root * /static
file_server

