:80

handle_path /postgrest/* {
    rewrite * {path}
    reverse_proxy postgrest:3000
}
handle_path /auth/* {
    rewrite * {path}
    reverse_proxy auth_server:8080
}

handle_path /api/* {
    rewrite * {path}
    reverse_proxy api:8087
}

root * /static
file_server

